/* .col{
    background-color: rgb(66, 66, 249);
    margin: 1px solid white;
    height: 100px;
}
.row{
    height: 100px;
    margin: 1px solid black;
} */

.box {
    text-align: center;
    padding-block: 20px;
    background-color: rgb(52, 52, 250);
    border: white 1px solid;
}